<div class="itemcontainer">
  
    <div class="items">
    <img class="itemimg" src="/images/turoncake.jpg">
    <div class="item_name"><%= $turoncake.name %></div>
    <div class="item_desc"><%= $turoncake.desc %></div>
    <div class="item_price">Price: $<%= $turoncake.price %></div>
    </div>

    <div class="items">
    <img class="itemimg" src="/images/hummingbird-cake.jpg">
    <div class="item_name"><%= $hummingbirdtheremix.name %></div>
    <div class="item_desc"><%= $hummingbirdtheremix.desc %></div>
    <div class="item_price">Price: $<%= $hummingbirdtheremix.price %></div>
    </div>
    
    <div class="items">
    <img class="itemimg" src="/images/bubbleteacake.png">
    <div class="item_name"><%= $bubbleteacake.name %></div>
    <div class="item_desc"><%= $bubbleteacake.desc %></div>
    <div class="item_price">Price: $<%= $bubbleteacake.price %></div>
    </div>

</div>
