<div class="itemcontainer">
  
    <div class="items">
    <img class="itemimg" src="/images/nuttbuttertrio.png">
    <div class="item_name"><%= $nutbutter.name %></div>
    <div class="item_desc"><%= $nutbutter.desc %></div>
    <div class="item_price">Price: $<%= $nutbutter.price %></div>
    </div>

    <div class="items">
    <img class="itemimg" src="/images/mygoodies.png">
    <div class="item_name"><%= $mygoodies.name %></div>
    <div class="item_desc"><%= $mygoodies.desc %></div>
    <div class="item_price">Price: $<%= $mygoodies.price %></div>
    </div>
    
    <div class="items">
    <img class="itemimg" src="/images/theovernighter.png">
    <div class="item_name"><%= $overnighter.name %></div>
    <div class="item_desc"><%= $overnighter.desc %></div>
    <div class="item_price">Price: $<%= $overnighter.price %></div>
    </div>

</div>

