<div class="itemcontainer">
  
    <div class="items">
    <img class="itemimg" src="/images/jynxmuffins.png">
    <div class="item_name"><%= $jynxmuff.name %></div>
    <div class="item_desc"><%= $jynxmuff.desc %></div>
    <div class="item_price">Price: $<%= $jynxmuff.price %></div>
    </div>

    <div class="items">
    <img class="itemimg" src="/images/buzzwholemuffin.png">
    <div class="item_name"><%= $buzzwolemuff.name %></div>
    <div class="item_desc"><%= $buzzwolemuff.desc %></div>
    <div class="item_price">Price: $<%= $buzzwolemuff.price %></div>
    </div>
    
    <div class="items">
    <img class="itemimg" src="/images/pheromosamuffin.png">
    <div class="item_name"><%= $pheromosamuff.name %></div>
    <div class="item_desc"><%= $pheromosamuff.desc %></div>
    <div class="item_price">Price: $<%= $pheromosamuff.price %></div>
    </div>

</div>
